### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

In [ ]:

places = [' ', 'Argentina', '  ', 'San Diego', '', '   ', '', 'Boston', 'New York']
# = [Argentina, San Diego, Boston, New York]

In [1]:
#Comprehention Lists
places = [' ', 'Argentina', '  ', 'San Diego', '', '   ', '', 'Boston', 'New York']
better_list = [i for i in places  if i.strip()]
print(better_list)

['Argentina', 'San Diego', 'Boston', 'New York']

In [2]:
#Lambda
places = [' ', 'Argentina', '  ', 'San Diego', '', '   ', '', 'Boston', 'New York']
better_list = list(filter(lambda x : len(x)> 4 , places))
print(better_list)

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

In [15]:
authors = ["Connor Milliken", "Victor aNisimov", "Andrew P. Garfield", "David HassELHOFF", "Oprah wInfrey"]
a_lower = list(map(str.lower,authors))
a_title = list(map(str.title,a_lower))
lastname = []
for i in range(0,len(a_title)):
    lastname.append(a_title[i].split()[-1])
print(sorted(lastname))

['Anisimov', 'Garfield', 'Hasselhoff', 'Milliken', 'Winfrey']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

In [33]:
places = [('Nassau', 32), ('Boston', 12), ('Los Angeles', 44), ('Miami', 29)]

# F = (1.8*C)+32 
temps = [item[1] for item in places]
print(temps)
f =list(map(lambda x : (1.8*x) + 32, temps))
print (f)
places_1 = [item[0] for item in places]
print(places_1)

import itertools
for i in zip(['Nassau', 'Boston', 'Los Angeles', 'Miami'], [89.6, 53.6, 111.2, 84.2]):
    print (i)

[32, 12, 44, 29]
[89.6, 53.6, 111.2, 84.2]
['Nassau', 'Boston', 'Los Angeles', 'Miami']
('Nassau', 89.6)
('Boston', 53.6)
('Los Angeles', 111.2)
('Miami', 84.2)

In [39]:
places = [('Nassau', 32), ('Boston', 12), ('Los Angeles', 44), ('Miami', 29)]
y1 = sorted(places, key=lambda x: int((9/5)*x[1] + 32))
print(y1)

[('Boston', 12), ('Miami', 29), ('Nassau', 32), ('Los Angeles', 44)]

### Exercise #4 <br>
<p>Write a recursive function to perform the fibonacci sequence up to the number passed in.</p>

In [19]:
def fibonacci(n):
    if (n <= 1):
        return n
    else:
        return (fibonacci(n-1) + fibonacci(n-2))
n = int(input("Please enter the number of members of the sequence:"))
print("The fibonacci sequence:")
for i in range(n):
    print(fibonacci(i))

Please enter the number of members of the sequence:10
The fibonacci sequence:
0
1
1
2
3
5
8
13
21
34